$color-main-text: #1b1c21;
$color-chapter-text: #7e7e82;
$color-accent: #ff3e79;
$color-highlight: #41f6d7;
$color-bg: #f8f8f8;
$color-header: #ffffff;
$color-divider: #eaeaea;
$color-shadow: #d9fff5;
$color-border: #b8ffec;
$color-dot: #dddddd;
$color-dot-active: #b5b6bc;
$color-blur: #979797;

$mobile: 320px;
$tablet: 768px;
$desktop: 1366px;

$transition: 0.3s ease;
