@use '../abstracts/var';
@use '../abstracts/mix';

.header {
  min-width: 320px;
  @include mix.desktop {
    display: none;
  }
}
/* HEADER */
.header__inner {
  display: flex; /*в линию*/
  align-items: center; /*выравн по вертикали*/
  gap: 16px; /*отступ между элем*/
  min-height: 88px;
  justify-content: center; /*выравн по горизонтали*/
  background-color: var.$color-header;
  border-bottom: 1px solid var.$color-shadow;
  @include mix.tablet {
    padding: 0 24px;
    justify-content: space-between;
  }
}

.header__left,
.header__right {
  display: flex; /*в линию*/
  align-items: center; /*выравн по вертикали*/
  gap: 16px; /*отступ между элем*/
  min-height: 88px;
  justify-content: center; /*выравн по горизонтали*/
}

.header__burger {
  width: 40px;
  height: 40px;
}

.header__logo {
  width: 96.55px;
  height: 50.81px;
}

.header__divider {
  width: 2px;
  height: 32px;
  background: var.$color-divider;
}

.header__divider-tablet {
  display: none;
  @include mix.tablet {
    display: flex;
  }
}

.header__search {
  display: none;
}

.header__contacts {
  display: none;
  @include mix.tablet {
    display: flex;
    gap: 16px;
    margin-left: auto;
  }
}
